<h1> Restaurant info</h1>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>

  <strong>Description:</strong>
  <%= @restaurant.description %><br>
  <%= link_to "Home", restaurants_path %>

</p>
